body {
  margin-top: 0%;
  background-color:  #0c1c2c ;
}

h1#titulo {
  font-family: White on black;
  text-shadow: 2px 2px 2px blue;
  padding: 10px 0px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  background-color:#17171700; 
  margin-left: 0%;  
  margin-top: 10px;
}

.titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

div#bloque {
  min-width: 360px;
  background-color: #1a1a1a;
  margin: auto;
  padding: 25px;
  border: solid;
  border-radius: 10px;
  border-color: #ffffff;
  border-width: 0.1rem;
  z-index:50;
  width: 40%;
  height:100%;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  z-index: 99;
}

marquee {
  color: #00000085;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  font-family: Poppins;
}

p {
  margin-bottom: 13px;
  margin-left: 27px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

p#titulodiscord {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0px;
  font-family:Poppins-Light;
}

p#ndc {
  display:none;
}

p#info {
  color: white;
  margin-left: 20px;
  position: absolute;
  font-size: 1rem;
  width: 300px;
  font-family:Poppins-Light;
}

p#mascomodopc{
  display: none;
  color: rgb(202, 156, 31);
  margin-left: 20px;
  font-size: 0.8rem;
  width: 300px;
  font-family:Poppins-Light;
}

h1 {
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.4rem;
  font-family:Poppins-SemiBold;
}

h2 {
  color: #0082b5;
  margin-bottom: 0px;
  margin-left: 20px;
  font-size: 1.1rem;
  font-family:Poppins-Light;
}

h2#descripcion {
  color: #ffffff;
  margin-bottom: 0%;
  margin-left: 0%;  
  font-size: 1.0rem;
  font-family:Poppins-SemiBold;
}

b {
  color: rgb(182, 143, 95);
  margin-top: 5px;
  margin-left: 20px;
  font-size: 1.3rem;
  font-family:Poppins-SemiBold;
}

b#requisitos {
  color: #608da0;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 1.3rem;
  font-family:monospace;
}

li {
  color: #ffffff;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 1rem;
  font-family:Arial, sans-serif;
}

li#queesrglibrary{
  font-family:Poppins-Light;
  font-size: 0.9rem;
}

@media (max-width:1280px){
  p#mascomodopc{
    display: block;
    color: rgb(202, 156, 31);
    margin-left: 20px;
    font-size: 0.9rem;
    width: 300px;
    font-family:Poppins-Light;
  }
  div#bloque {
    min-width: 320px;
    background-color: #1a1a1a;
    margin: auto;
    padding: 15px;
    border: solid;
    border-color: #ffffff;
    border-width: 0.1rem;
    z-index:50;
    width: 40%;
    height:100%;
    }
  div#c_encabezado {
      display: none;
  }
  div#c_discord {
    display:none;
  }
  div#c_info {
    display: none;
  }
  a:hover img{
    opacity: 0;
    display: none;
  }
  img#discord{
    display: flex;
  }
  text {
    display: none;
  }
}

@font-face {
  font-family:Karmatic Arcade;
  src: url(fonts/ka1.ttf)
}
@font-face {
  font-family:white on black;
  src: url(fonts/whiteonblack.ttf)
}
@font-face {
  font-family:Poppins-SemiBold;
  src: url(fonts/Poppins-SemiBold.otf)
}
@font-face {
  font-family:Poppins-Light;
  src: url(fonts/Poppins-Light.otf)
}
@font-face {
  font-family:Poppins-SemiBoldItalic;
  src: url(fonts/Poppins-SemiBoldItalic.otf)
}

/* TEXTO DEL ENCABEZADO */
p#inicio {
  font-size: 1.3rem;
  font-family: Karmatic Arcade;
  color: #146216;
  align-items: center;
  text-align: center;
  left: 105px;
  margin-top: 10px;
  position: absolute;
}
p#juegos {
  font-size: 1.0rem;
  font-family: Karmatic Arcade;
  color: #0279ac;
  position: absolute;
  top: 10px;
  right: 25px;
}
p#programas {
  font-size: 1.0rem;
  font-family: Karmatic Arcade;
  color: #0279ac;
  position: absolute;
  top: 425px;
  right: 45px;
}
p#roms {
  font-size: 1.0rem;
  font-family: Karmatic Arcade;
  color: #0279ac;
  position: absolute;
  top: 50px;
  left: 115px;
}
p#-nes {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 80px;
  right: 100px;
  width: 100px;
}
p#-mame {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 110px;
  right: 100px;
  width: 100px;
}
p#-ps2 {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 140px;
  right: 100px;
  width: 100px;
}
p#android {
  font-size: 1.0rem;
  font-family: Karmatic Arcade;
  color: #0279ac;
  position: absolute;
  top: 340px;
  right: 230px;
}
p#libros {
  font-size: 1.0rem;
  font-family: Karmatic Arcade;
  color: #0279ac;
  position: absolute;
  top: 320px;
  left: 105px;
}
p#paginas {
  font-size: 1.0rem;
  font-family: Karmatic Arcade;
  color: #0279ac;
  position: absolute;
  top: 10px;
  right: 230px;
}
p#memes {
  font-size: 1.0rem;
  font-family: Karmatic Arcade;
  color: #0279ac;
  position: absolute;
  top: 370px;
  left: 105px;
}
p#fondosdp {
  font-size: 1.0rem;
  font-family: Karmatic Arcade;
  color: #0279ac;
  position: absolute;
  width: 110px;
  top: 390px;
  right: 210px;
}
p#paginaswebconjuegos {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 40px;
  right: 220px;
  width: 100px;
}
p#paginasdedibujo-audiovisuales {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 100px;
  right: 220px;
  width: 100px;
}
p#paginasvisuales-satifactorias {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 160px;
  right: 220px;
  width: 100px;
}
p#paginasutiles-datos {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 220px;
  right: 220px;
  width: 100px;
}
p#paginasextras {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 280px;
  right: 220px;
  width: 100px;
}

p#juegos-accion {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 40px;
  right: 10px;
  width: 100px;
}
p#juegos-terror {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 120px;
  right: 10px;
  width: 100px;
}
p#juegos-supervivencia {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 180px;
  right: 10px;
  width: 100px;
}
p#juegos-simulacion {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 240px;
  right: 10px;
  width: 100px;
}
p#juegos-arcade {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 300px;
  right: 10px;
  width: 100px;
}
p#juegos-casuales {
  font-size: 0.9rem;
  font-family:Poppins-Light;
  color: #ff0048;
  position:absolute;
  top: 360px;
  right: 10px;
  width: 100px;
}

/* MEMES */
img#memes{
  position:relative;
  display: block;
  opacity: 10;
  border: none;
	margin-top: 30px;
	z-index: 4;
  left: 0%;
  width:300px;
  height:300px;
}
video{
  margin-top: 30px;
  display: block;
	z-index: 4;
  width:300px;
  height:300px;
}

/* CUADROS DE LOS COSTADOS */
div#c_encabezado {
  position: fixed;
  top: 24.6%;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 10px;
  border: solid;
  border-color: #ffffff;
  background-color: black;
  border-width: 0.1rem;
  z-index: 4;
  left: 73.4%;
  width:340px;
  height:490px;
}
div#c_info {
  position:fixed;
	top: 24.5%;
  border-radius: 10px;
  border: solid;
  border-color: #ffffff;
  background-color: black;
  border-width: 0.1rem;
	z-index: 4;
  right: 73.5%;
  width:340px;
  height:490px;
}
a {
  display: inline-block;
}
img#discord{
  position:relative;
  border: none;
  opacity: 10;
  margin-top: 10px;
	z-index: 4;
  left: 20px;
  width:100%;
  height:58px;
}

/* INFO DE JUEGOS */
img{
  position: fixed;
	opacity: 0;
	flex-direction: column;
	align-items: flex-end;
  pointer-events: none;
  border: solid;
  border-color: #ffffff;
  border-radius: 10px;
  border-width: 0.1rem;
	z-index: 4;
  top: 24.5%;
  right: 73.5%;
  width:340px;
  height:210px;
}
text{
  position:fixed;
  pointer-events: none;
	opacity: 0;
  color: white;
  font-size: 00.93rem;
	z-index: 4;
  align-items: center;
  margin-top: 226px;
  margin-right: 5px;
  right: 73.5%;
  top: 24.5%;
  width:320px;
  height:210px;
}
a#juego:hover img{
  opacity: 10;
}
a#juego:hover text#infojuego{
  opacity: 10;
}