body {
    background-color: rgb(255, 246, 232);
    background-size: 100%;
}

button {
    margin-left: 27px;
    text-shadow: 2px 2px 2px blue;
    padding: 10px 30px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    background-color:rgb(4, 80, 124);
    border: solid;
}

p {
    margin-left: 27px;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.p1 {
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.p2 {
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 30px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    margin-left: 30px;
    margin-top: 5px;
    font-size: 1rem;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

marquee {
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    align-items: center;
}


