body {
    background: url(https://i.pinimg.com/originals/1a/7d/fb/1a7dfbdcc96200cfa682a193f8e156b0.jpg);
    background-size: 100%;
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    text-shadow: 5px 5px;
    text-shadow: 5px 5px #558ABB;
    text-shadow: 5px -5px #558ABB;
    text-shadow: -5px 5px #558ABB;
    text-shadow: 2px 2px 2px blue;
    display: inline-block;
    border:none;
    background: none;
    height: 80px;
    padding: 10px 0;
    width: 350px;
    font-size: 3.3rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: 150ms;
}

h2 {
    font-size: 2.0rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    position:relative;
    z-index: 2;
}

.Discord {
    margin-top: 0px;
    margin-left: 860px;
    padding-bottom: 0%;
    position:relative;
    z-index: 2;
}

.Juegos {
    margin-top: 50px;
    margin-right: 315px;
}
    
.Paginas {
    margin-top: 0px;
    margin-right: 260px;
}

.Programas {
    margin-top: 0px;
    margin-right: 300px;
    width: 420px;
    height: 450px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    position:relative;
    z-index: 2;
}

p1 {
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    font-size: 1.1rem;
    color: rgb(216, 212, 212);
    position:relative;
    z-index: 2;
    padding-bottom: 0%;
    margin-bottom: 1%;
}

li {
    margin-top: 1px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    position:relative;
    z-index: 2;
}




